body {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 10px;
    padding-right: 30px; 
    padding-left: 10px;
}

.moments-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.moment {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 20px;
}

.moment img {
    width: 300px;  
    height: 200px; 
    margin-right: 10px;
    object-fit: cover;
}

.description {
    flex-grow: 1;
    text-align: justify; 
}

.description h2 {
    margin-top: 0;
    align-self: flex-start; 
}

.description p {
    font-style: italic; 

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: rel
}